.contents {
    width: 100%;
    margin: 0 auto;
}
.vertical-center {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.slide-container {
    /*width: 400px;*/
    /*border-radius: 15px;*/
    margin: 0 auto;
    overflow: hidden;
}
.slide-images {
    position: relative;
    text-align: center;
}
.img_cont {
    width: 100%;
    height: 420px;
    display: none;
}
.slide-img {
    width: auto;
    height: 100%;
}
.slide-img-show {
    display: block !important;
    /*background-color: #161616;*/
}
.slide-button {
    height: 20%;
    border: 0px;
    color: grey;
    position: absolute;
    opacity: 0.3;
    padding: 3px;
    display: none;
}
.slide-button-left {
    left: 0;
}
.slide-button-right {
    right: 0;
}
.slide-indicators {
    bottom: 30px;
    position: relative;
    text-align: center;
}
.slide-indicator {
    display: inline-block;
    width: 7%;
    font-size: 12px;
    height: 3px;
    margin: 0px 10px;
    /*margin*/
    background-color: #fff;
}
.slide-indicator-show {
    background: #f1314f;
    opacity: 0.8;
}
